# --- DATABASE CONFIG ---
DB_NAME=database_name_here
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/database_name_here
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password_here

# --- SECURITY CONFIG ---
# Generate a 64-character secret key for production
JWT_SECRET_KEY=your_secret_key_here
JWT_EXPIRATION=7200000
RESET_EXP=15

# --- JWT COOKIE SETTINGS ---
JWT_COOKIE_NAME=ddo_token
JWT_COOKIE_SECURE=false

# --- MAIL CONFIG ---
SPRING_MAIL_USERNAME=example@ogr.inonu.edu.tr
SPRING_MAIL_PASSWORD=your_app_specific_password_here

# --- FRONTEND & STORAGE ---
FRONTEND_URL=http://localhost:3000
UPLOAD_PATH=/app/uploads